:root{
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --star-color: #EE931C;
    --author-color: #898989;
    --details-color: #FFFFFF;
    --details-bg: #333333;
}
.logo{
    font-weight: 700;
    color:var(--brand-primary);
    font-size: 1.1rem;
    vertical-align: middle;
}