:root{
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --star-color: #EE931C;
    --author-color: #898989;
    --details-color: #FFFFFF;
    --details-bg: #333333;
}
footer{
    text-align: center;
    padding: 10px;
    background-color:var(--bg_body);
    color: var(--body-text);
    width: 100%;
    bottom:0;
}
